.wrapper-detail {
  max-width: 1250px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding: 15px;
  border-radius: 15px;
  &__content {
    margin-top: 20px;
    .ant-image {
      width: 100%;
    }
    h2 {
      color: black !important;
    }
    &__description {
      div {
        text-align: left;
        margin-bottom: 20px;
        span {
          font-size: 18px;
          &:first-of-type {
            font-weight: 600;
            color: red;
          }
          &:nth-of-type(2) {
            color: red;
            font-weight: 600;
          }
        }
      }
    }
    &__intro {
      padding: 15px;
      border: 2px dashed red;
      width: fit-content;
      li {
        font-size: 18px;
        span {
          margin-right: 3px;
          color: green;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .wrapper-detail {
    &__content {
      .ant-col {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper-detail {
    &__content {
      h2 {
        margin-bottom: 10px !important;
      }
      &__description {
        div {
          margin-bottom: 10px;
          span {
            font-size: 20px;
          }
        }
      }
    }
  }
}
