@import "../variables.scss";

.wrapper-header__top {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 15px;
  &__logo {
    display: flex;
    align-items: end;
    img {
      width: 60px;
    }

    span {
      color: black;
      font-weight: 600;
      font-size: 14px;
      font-family: serif;
      line-height: 1;
    }
  }

  &__contact,
  &__admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: #828282;
      font-weight: 600;
      &:first-of-type {
        font-size: 20px;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__search {
    height: 40px;
    width: 40%;
    display: flex;
    .ant-select {
      height: 35px !important;
      width: 100%;
    }
    button {
      background-color: unset;
      border: 1px solid #828282;
      width: 60px !important;
      height: 35px !important;
      span {
        color: #828282;
      }
    }
  }
}

.wrapper-header__bottom {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  padding-top: 5px;
  ul {
    display: flex;
    justify-content: space-between;
    background: none;
    color: #fff;
    border: none;
    li {
      padding-inline: 0 !important;
      font-size: 16px;
      display: flex;
      align-items: center;
      display: flex !important;
    }
    .ant-menu-item-active {
      color: yellow !important;
    }
  }
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu::before {
    content: none;
    display: flex;
  }
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-horizontal::after {
    content: none;
    display: flex;
  }
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-item:hover::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-item:hover::after,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-submenu:hover::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-submenu:hover::after,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-item-active::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-item-active::after,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-submenu-active::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-submenu-active::after,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-item-open::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-item-open::after,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-submenu-open::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-submenu-open::after {
    border-bottom-width: 2px;
    border-bottom-color: yellow !important;
  }
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-item-selected,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-item-selected,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-submenu-selected,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-submenu-selected {
    color: yellow !important;
  }
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-item-selected::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-item-selected::after,
  :where(
      .css-dev-only-do-not-override-qgg3xn
    ).ant-menu-light.ant-menu-horizontal
    > .ant-menu-submenu-selected::after,
  :where(.css-dev-only-do-not-override-qgg3xn).ant-menu-light
    > .ant-menu.ant-menu-horizontal
    > .ant-menu-submenu-selected::after {
    border-bottom-color: yellow !important;
  }
}

.active {
  color: rgb(251, 218, 56) !important;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .wrapper-header__top {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    &__logo {
      margin-right: auto;
    }

    &__search {
      width: 100%;
      margin-top: 10px;
    }
    &__contact {
      display: none;
    }
  }
  .wrapper-header__bottom {
    display: none;
  }
}
