@import "../variables.scss";

.wrapper-header__top {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 15px;
  .toggle {
    display: none;
    span {
      font-size: 28px;
      color: #828282;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    img {
      width: 60px;
    }

    span {
      color: rgb(12, 12, 222);
      font-weight: 600;
      font-size: 36px;
      font-family: serif;
      &:last-of-type {
        color: #fe0000;
      }
    }
  }

  &__contact,
  &__admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      color: #828282;
      font-weight: 600;
      &:first-of-type {
        font-size: 20px;
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__search {
    height: 40px;
    display: flex;
    .ant-select {
      height: 35px !important;
      width: 100%;
    }
    button {
      background-color: unset;
      border: 1px solid #828282;
      width: 60px !important;
      height: 35px !important;
      span {
        color: #828282;
      }
    }
  }

  &__action {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    .action {
      display: flex;
      gap: 10px;
    }
  }
}

.wrapper-header__bot {
  display: none;
}

.ant-drawer-body {
  padding-top: 5px !important;
  .toggle-menu {
    border: none !important;
    li {
      padding: 0;
      font-size: 20px;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1250px) {
  .wrapper-header__top {
    .toggle {
      display: block;
    }
  }

  .wrapper-header__bot {
    display: block;
    padding: 15px;
    padding-top: 0;
    .searching {
      display: flex;
    }
    .ant-select {
      height: 35px !important;
      width: calc(100% - 32px);
    }
    button {
      background-color: unset;
      border: 1px solid #828282;
      width: 60px !important;
      height: 35px !important;
      span {
        color: #828282;
      }
    }
  }

  .menu-header {
    display: none;
  }
  .action {
    div {
      &:first-of-type {
        display: none;
      }
    }
  }
  .wrapper-header__top__search {
    display: none;
  }

  .ant-drawer {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper-header__top {
    padding: 10px;
    &__search {
      width: 100%;
      margin-top: 10px;
    }
    &__contact {
      display: none;
    }
    &__logo {
      span {
        font-size: 28px;
      }
    }
  }
  .wrapper-header__bottom {
    display: none;
  }
  .ant-drawer {
    width: 100%;
  }

  .wrapper-header__bot {
    padding: 10px;
    padding-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .wrapper-header__top {
    &__logo {
      gap: 5px;
      span {
        font-size: 20px;
      }
      img {
        width: 50px;
      }
    }
  }
}
