.wrapper-sidebar {
  position: fixed;
  padding: 10px 15px;
  background-color: rgba(252, 130, 69, 1);
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  width: 65%;
  justify-content: center;

  &__button {
    display: flex;
    gap: 10px;
  }

  button {
    background-color: rgba(252, 130, 69, 1) !important;
    border: 1px solid rgb(239, 187, 160);
  }
}

@media screen and (max-width: 600px) {
  .wrapper-sidebar {
    flex-direction: column;
    width: calc(100% - 30px);
    &__button {
      justify-content: space-between;
      button {
        width: 100%;
        justify-content: center;
        align-items: center;
        span {
          font-size: 14px !important;
        }
      }
    }
    .outline {
      justify-content: center;
      span {
        font-size: 14px;
      }
    }
  }
}
